<% @page_title = "About" %>

<section class="well" id="about">
            <div class="row text-center bottom-spacer">
                    <h3 class="section-heading">About</h3>
                    <h4 class="section-subheading text-muted">How we made this project</h4>
            </div>
            <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image" >
                                <img class="img-circle img-responsive" src="<%= asset_path( 'about/1.jpg' ) %>" alt="about image 1" >
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 1st to 7th</h4>
                                    <h4 class="subheading">We just began to bring the ideas together</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">SASKA would like to implement a system that offers tutoring services to SFU's students. The way that system works is that each SFU student would be able to register in the system using his/her school's email. The system in total has three type of users: student, tutor and admin; a user can have all those privileges at the same time; however an admin can only assign another admin privilege to a user. Each user would have their own profile in the system that is visible to everyone by default, but can be changed to private or be just visible to their own contact list. Each profile would have a profile picture, email address, first and last name of the user. Students also have needed a course for tutoring on their profile. Tutors profiles would have rating indicator, comments section and offered courses in addition to student's profile.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="<%= asset_path( 'about/2.jpg' ) %>" alt="about image 2">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 8th to 15th</h4>
                                    <h4 class="subheading">We implemnted the features that make the website different</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Registered students on the system would be able to search for tutors by course name/ number or tutor name. Additionally, students can add tutors and their friend how are registered on the system to their contact list. Students also would be able to send private messages to all tutors on the system; however, students can only send a private message to students that are in their contact list. Moreover, students can rate tutors based on their previous experience with them and rate them. Additionally comments can be posted to tutors' profiles. Students can also suggest tutors to their friends in their contact list.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="<%= asset_path( 'about/3.jpg' ) %>" alt="about image 3">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 16th to 21st</h4>
                                    <h4 class="subheading">We made the website even better by adding more useful features</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Registered tutors can add courses that they previously tutored and also indicate their level of proficiency in those. They would be able to see students comments and reply to them. The abusive comments also can be flagged and reported to admin by tutors or students. The rating of tutors is based on the average score that students give to them.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="<%= asset_path( 'about/4.jpg' ) %>" alt="about image 4">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 21st to December 7th</h4>
                                    <h4 class="subheading">Transition to full service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">System admin would have the full privilege in the system. They would be able to modify/delete profile information of all the users. System admin can block users from accessing the website. System admin would be able to post announcements to the website news feed. They can send a private message to all the system users on the system. Admin would get notified if there is any report about abusive comments and they'd be able to hide/delete them from the corresponding profile.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted bottom-spacer">
                            <div class="timeline-image">
                                <h4>Be Part Of Our Story!</h4>
                            </div>
                        </li>
                    </ul>
            </div>
    </section>
