@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'footer.css.scss';

.replies {margin-left: 50px;  font-size: 8pt; color: #990099; }

/* 5 levels nesting */
.replies .replies .replies .replies .replies {margin-left: 0;}
